@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, );
}

h1 {
    position: absolute;
    top: 130px;
    letter-spacing: 5px;
    padding: 10px;
    border-radius: 10px;
}

h1:hover {
    background:linear-gradient(120deg, #0D0C0B, #403F45, #FFDB2F);
    animation: animate 5s linear infinite;
    padding: 10px;
    border-radius: 10px;
    
}

@keyframes animate {
    0%{ transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.relogio {
    display: flex;
    align-items: center;
    height: 200px;
    width: 550px;
    justify-content: space-around;
    background: transparent;
    box-shadow: 0px 8px 10px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.relogio div {
    color: #fff;
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 5, 5,0.9);
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 4em;
}

.relogio span.tempo {
    font-size: 10px;
}